<div class="container text-center">
  <div class="jumbotron">
    <h1 class="display-3">Eat-Da-Burger</h1>
    <p class="lead">Add a burger to eat.</p>
    <hr class="my-4">
    <form method="POST" action="/">
      <input type="text" name="burger_name" class="form-control form-control-lg" placeholder="Add a burger here...">
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </p>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
          <div class="card">
          <div class="card-header">
            Ordered Burgers
          </div>
          {{#each burgers}}
            {{#unless this.devoured}}
              <div class="card-body">
                <h4 class="card-title">
                  {{this.id}}. {{this.burger_name}}
                </h4>
                <form action="/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="devoured" value="true">
                  <button type="submit" class="btn btn-danger">Devour</button>
                </form>
              </div>
            {{/unless}}
          {{/each}}
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            Eaten Burgers
          </div>
          {{#each burgers}}
            {{#if this.devoured}}
              <div class="card-body">
                <h4 class="card-title">
                  {{this.id}}. {{this.burger_name}}
                </h4>
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>